<html>	
	<head>
		<title>Senior Software: Rackspace Ruby Group: Login Page</title>
		<link rel="stylesheet" type="text/css" href="/css/ss-style.css" />
		<script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
	</head>	
	<body>
	<br><br>
		<div id="stylized-form" class="myform">
			<form id="form" name="form" action="/Login_Success" method="get">  
				 <h1>Login</h1>
				 <p>Enter login credentials</p>
				 
				 <label>Username
				 <span class="small">Enter Username</span>
				 </label>
				 <input type="text" name="username" id="username" />

				 <label>Password
				 <span class="small">Enter Password</span>
				 </label>
				 <input type="password" name="password" id="password" />

				 <label>IP Address
				 <span class="small">Enter IP Address</span>
				 </label>
				 <input type="text" name="ipAddress" id="ipAddress" />

				 <label>Port 1
				 <span class="small">Enter Port 1</span>
				 </label>
				 <input type="text" name="port1" id="port1" />

				 <label>Port 2
				 <span class="small">Enter Port 2</span>
				 </label>
				 <input type="text" name="port2" id="port2" />

				 <label>Tenant
				 <span class="small">Enter Tenant</span>
				 </label>
				 <input type="text" name="tenant" id="tenant" />
				 
				 <button type="submit">Submit</button>
				 <div class="space"></div>
			</form>  
		</div>
	</body>
</html>

