<html>	
	<head>
		<title>Senior Software: Rackspace Ruby Group: Login Page</title>
		<link rel="stylesheet" type="text/css" href="/css/ss-style.css" />
		<script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
	</head>	
	<body>
	<br><br>
		<div id="stylized-form" class="myform">
			<form id="form" name="form" action="/" method="get">  
				 <h1>Login Failed!</h1>
				 <p>Please re-enter your credentials</p>
				 
				 <button type="submit">Back</button>
				 <div class="space"></div>
			</form>  
		</div>
	</body>
</html>

