<!DOCTYPE html PUBLIC "-//W3C//DTD//XHTML 1.0
Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
xml : lang="en" lang="en">
<script type="text/javascript">
	/* <![CDATA[ */
	function sub() {
		window.location.href = site;
	}
	function goTo(URL) {
		site = URL;
	}	
	/* ]]> */
</script>

<head>
  <title>Senior Software: Rackspace Ruby Group: Tenants Page</title>
  <link rel="stylesheet" type="text/css" href="/css/ss-style.css" />
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

	<body>
		<div id="main">
				<div id="logo">
					<div id="logo_text">
						<h1><a href="SS">Senior Software: <span class="logo_colour">Ruby Group</span></a></h1>
						<h2>Simple. Sexy. Smart.</h2>
					</div>
				</div>
				<div id="menu_container">
					<nav>
						<ul>
							<li><a href="/Home.erb">Home</a></li>  
							<li><a>Tenants</a>
								<ul>
									<li><a href="/Tenants_List.erb">List Tenants</a></li>
									<li><a href="/Tenants_Delete.erb">Delete Tenant</a></li>
									<li><a href="/Tenants_Add.erb">Add Tenant</a></li>
									<li><a href="/Tenants_Get.erb">Get Tenant</a></li>
								</ul>
							</li>
							<li><a>Users</a>
								<ul>
									<li><a href="Users_List.erb">List Users</a></li>
									<li><a href="Users_Delete.erb">Delete User</a></li>
									<li><a href="Users_Add.erb">Add User</a></li>
									<li><a href="Users_Get.erb">Get User</a></li>
									<li><a href="Users_Update_Password.erb">Update User Password</a></li>
								</ul>
							</li>
							<li><a>Services</a>
								<ul>
									<li><a href="Services_List.erb">List Services</a></li>
									<li><a href="Services_Delete.erb">Delete Service</a></li>
									<li><a href="Services_Add.erb">Add Service</a></li>
									<li><a href="Services_Get.erb">Get Service</a></li>
								</ul>
							</li>
							<li><a>Endpoints</a>
								<ul>
									<li><a href="Endpoints_List.erb">List Endpoints</a></li>
									<li><a href="Endpoints_Delete.erb">Delete Endpoint</a></li>
									<li><a href="Endpoints_Add.erb">Add Endpoint</a></li>
									<li><a href="Endpoints_Get.erb">Get Endpoint</a></li>
								</ul>
							</li>
							<li><a>Roles</a>
								<ul>
									<li><a href="Roles_List.erb">List Roles</a></li>
									<li><a href="Roles_Delete.erb">Delete Role</a></li>
									<li><a href="Roles_Add.erb">Add Role</a></li>
									<li><a href="Roles_Get.erb">Get Role</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		
		<div id="stylized-form" class="myform">
			<form id="form" name="form" action="/Services_Get_Form.erb" method="get">  
				 <h1>Get Service</h1>
				 <p>Get service with service ID</p>
				 
				 <label>ID
				 <span class="small">Enter Service ID</span>
				 </label>
				 <input type="text" name="serviceID" id="serviceID" />
				 
				 <button type="submit">Submit</button>
				 <div class="space"></div>
			</form>  
		</div>

		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<footer>
		  <p>Copyright &copy; Ruby Group | <a> Nowlin, Gleason, Lawson, Dron-Smith, Wedelich, Morales, Amundson</a></p>
		</footer>
	  </div>
	  
	  <p>&nbsp;</p>
	  
	  <script type="text/javascript" src="js/jquery.js"></script>
	  <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
	  <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
	  <script type="text/javascript">
		$(document).ready(function() {
		  $('ul.sf-menu').sooperfish();
		});
	  </script>	  
	</body>
</html>
